<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Document</title>
</head>
<body>
    <div class="but">
        <a href="/reg">
            <button class="back">
            Назад
            </button>
        </a>
    </div>  

    <div class="gitdiv">
        <a href="https://github.com/VladyslavGreschuk/KR">
            <button class="back">
                GitHub
            </button>
        </a>
    </div>

    <div class="wrapper">
        <div class="box">
            <p>Факультет електроніки та комп'ютерних технологій</p>
            <p>Курсова робота, виконана студентом групи ФЕІ-21, Грещуком Владиславом.</p>
            <p>Телефонна книга зі зберіганням контактів і адрес.</p>
            <p></p>
            <p></p>
            <p>Усі права захищені.</p>   
        </div>
    </div>

</body>
</html>