<!DOCTYPE html>
<meta charset = "UTF-8">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/forinput.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500&display=swap" rel="stylesheet">
    <title>Login</title>
</head>

<body class="main">

    <header>
        <div class="header-left">
            <a href="/phonebook">
                <button class="logo-button">
                    Phonebook
                </button>
            </a>
        </div>
        <div class="header-right">
                <a href="/about">
                    <button class="head-button">
                        Про нас
                    </button>
                </a>

                <a href="/reg">
                    <button class="head-button">
                        Зареєструватися
                    </button>
                </a>
        </div>
    </header>

    <div class="texting">
            <p>Вітаємо Вас на сайті веб-застосунку <strong>Phonebook</strong>!</p>
            <p><strong>Phonebook</strong> - це веб-застосунок для зберігання контактів та іншої доступної<br>інформації про друзів та знайомих.</p>
            <p>Будь ласка, авторизуйтеся, якщо хочете отримати можливість<br>користуватися клієнтським інтерфейсом даної програми.</p>
    </div>

    <div class="container">
        <h1>Авторизація</h1>
        <form action="/login" method="POST" class="logform">
            <div id="name-error" class="error-message"></div>
            <div class="input-group">
                <input type="text" id="nickname" name="nickname" required placeholder="- ваш нікнейм -">
            </div>
            
            <div class="input-group">
                <input type="email" name="email" required placeholder="- ваша ел. пошта -">
            </div>

            <div id="pass-error" class="error-message"></div>
            <div class="input-group">
                <input type="password" id="password" name="password" required placeholder="- введіть пароль -">
            </div>
    
            <button class="but1" type="submit" id="submit-button">Увійти</button>
        </form>
        <div class="regdiv">
            <p class="regp">Ви тут уперше? - <a href="/reg">Зареєеструйтеся</a> </p>
        </div>
    </div>


    <script src="/scripts/index.js"></script>
    <script src="/scripts/scroll.js"></script>
</body>
</html>